<h1>Castles</h1>

castles: 
<% @user_castles.each do |castle| %>
  <div>
    <a href='/castles/<%=castle.id%>'><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/Bodiam-castle-10My8-1197.jpg/220px-Bodiam-castle-10My8-1197.jpg"></a> <br>
  Castle: <%= castle.castle.castle_name %> <br>
  Ruled by: <%= castle.user.first_name %>
  </div>
<% end %>
