<%= form_tag "/castles/#{@url.topic.castle_id}/#{@url.topic.id}/url/#{@url.id}", method: :patch do %>
  <div>
    Edit Url: <input type="text" name="url" value="<%=@url.url%>">
  </div>  
  <div> 
    <%= label_tag :url_type %>
    <%= select_tag :url_type, options_for_select(["Video", "Image", "Resource Link"], @url.url_type) %>
  </div>
  <div>
    <input type='submit' value='Save Changes'>
  </div>
<%end%>
