<div class="left-padded"><br>
  <div>
    <h3> Create a New Topics </h3>
  </div><br>
  <%= form_tag "/castles/#{@castle.id}", method: :post do %>
    <div>
      <%= label_tag :title %>
      <%= text_field_tag :title %>
    </div>
      <br>
      <input type="submit" value="Create">
  <%end%>
</div>

<style>
  .left-padded {
    padding-left: 12px;
  }
</style>