Homepage
<a href='http://localhost:3000/signup'>Signup</a>
<a href='http://localhost:3000/login'>Login</a>

<h3>Build!</h3>
<p>Are you looking to collaborate with others to build a wealth of information? Turn members into contributors with customizable administrative priveledges.</p>
<h3>Share!</h3>
<p>Are you in a teaching/mentoring position? Create a Share Castle to distribute information amount your students/peers! Share information, images, youtube videos and more, all in one location.</p>
<h3>Connect!</h3>
<p>Why have one Share Castle, when you can have many! Connect Share Castles that you have made and Share Castles that others have made to create a network of information!</p>
