<%= form_tag "/castles/#{@castle.id}", method: :patch do %>
  <div>
    Rename Your Castle: <input type="text" name="castle_name" value="<%=@castle.castle_name%>">
  </div>
  <div>
    <input type='submit' value='Save Changes'>
  </div>
<%end%>
Upload a new image for your Castle Homepage:
<%= form_for @castle, url: users_path, html: { multipart: true } do |form| %>
  <%= form.file_field :image %>
<% end %>