<%= form_tag "/castles/#{@castle.id}", multipart: true, method: :patch do %>
  <div>
    Rename Your Castle: <input type="text" name="castle_name" value="<%=@castle.castle_name%>">
  </div>
  <div>
    <%= file_field_tag :avatar %>
  </div>
  <div>
    <input type='submit' value='Save Changes'>
  </div>
<%end%>